.ProjectDashBoard__Title{
    display: flex;
    align-items: center;
}

.ProjectDashBoard__Title p {
    font-family: 'Work Sans', sans-serif;
    font-size: 62px;
    margin: 15px;
}

.ProjectDashBoard_SearchBar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProjectDashBoard__Sections{
    display: flex;
    justify-content: flex-start;
}