.SearchBar{
    display: flex;
    align-items: center;
    width: 77vw;
    height: 65px;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}   

.SearchBar__Input{
    width: 30%;
}

.SearchBar_Buttons{
    width: 70%;

}
.SearchBar__Input,
.SearchBar_Buttons{
    display: flex;
    padding: 25px
}

.Buttons{
    float: right;
}

.SearchBar__Input input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    width: 80%;
    background: #f1f1f1;
    height: 30px;
    min-width: 160px;
}

.SearchBar_Buttons{
    justify-content: end;
}
.SearchBar_Buttons button {
    width: 100px;
}

.SearchBar__Input input[type=text]:focus{
    outline: none;
}

.SearchBar__Input button {
    border-radius: 0 5px 5px 0;
    width: 50px;
}

@media screen and (max-width: 1200px) {
    .SearchBar{
        width: 72vw;
    }
}