@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');

.App{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.NavBar {
    background-color: rgb(0,48,143,0.8);
    height: calc(100vh + 50px);
    width: 15vw;
    min-width: 250px;
}

.Page {
    width: 85vw;
}

button, .btn-inverted{
    border: none;
    background-color: rgb(0,48,143,0.8);
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    height: 50px;
}

button:hover, .btn-inverted:hover{
    cursor: pointer;
    background-color: rgb(0,48,143,1);
}

.btn-inverted {
    background-color: white;
    color: rgb(0,48,143,0.8);
}
.btn-inverted:hover {
    background-color: rgb(209, 208, 208);
}


