.NavBar h1 {
    color: white;
    padding: 10px;
    padding-left: 25px;
    font-size: 56px;
    margin: 0;
    /* text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; */
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
}